.btn{
    -fx-background-color: #8fffb0;
    -fx-background-radius: 30;
}

.btn:hover{
    -fx-background-color: #73ff9a ;
}

#header{
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 40;
}

#body{
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 40;
}

.close-btn{
    -fx-background-color: #a30000;
    -fx-background-radius: 100;
}

.close-btn:hover{
    -fx-background-color: #ff3d3d ;
}

.profile-btn{
    -fx-background-color: #7abfff;
    -fx-background-radius: 100;
}

.profile-btn:hover{
    -fx-background-color:#003da6 ;
}

.home-btn{
    -fx-background-color: #7abfff;
    -fx-background-radius: 100;
}

.home-btn:hover{
    -fx-background-color: #003da6 ;
}